/***********************************TAG SELECTORS***********************************/
a {color: #11999E;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
margin: 10px 20px;
text-decoration: none;
}

a:hover {
color: white;

}

body {
  margin: 0;
  text-align: center;
  background-color: 0;
}

span {
  text-decoration: underline;
  font-weight: bold;
}

h2 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted 6px;
  border-bottom: none;
  width: 100px;
  color: #EAF6F6;
  margin: 100px auto 100px auto;
}

p { margin: 0;}

/***********************************CLASS SELECTORS***********************************/
.bottom-container {
  margin: 0 auto 100px auto;
}

.bottom-cloud {
  position: absolute;
  bottom: 375px;
  left: 300px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px auto;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  color: #40514E;

}

.copyright {
  font-family: 'Montserrat', sans-serif; color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.footer-link {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

.footer-container {
  background: #66BfBF;
  padding: 50px 0 20px 0;
}

.top-container {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(251, 255, 178, 1) 100%);
  position: relative;
  padding-top: 200px;
}

.middle-container {
  margin: 100px 0 100px 0;
}

.mountain {
  margin: 0;
  position: relative;
}

.my-skill-title {
}

.p-font {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  color: #40514E;
}

.p-font-skill {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  color: #40514E;
  margin: auto;
}

.profile {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}

.skill-row1 {
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-row2 {
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-row-pict {
  width: 20%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.skill-row-pict2 {
  width: 20%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.top-cloud {
  position: absolute;
  top: 100px;
  right: 300px;
}





/***********************************ID SELECTORS***********************************/
#home-heading {
  color: #66BfBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 6rem;
  margin-top: 0px;
  text-align: center;
}

#subtext {
  color: #66BfBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2;
  text-align: center;
  margin: 0;
